.index-show-box{
  width: 1120px;
  margin-left: 25%;
  display: flex;
}
.index-show-container{
  height: 2480px;
  // margin-left: 25%;
  margin-right: 250px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  .show-header{
    margin-top: 25px;
    display: flex;
    height: 100px;
    flex-direction: column;
    
  }
  .listings-index{
    margin-top: 15px;
    font-size: 18px;
    color: black;
  }

  .listing-show-title{
    font-size: 28px;
    margin-top: 25px;
    font-weight: 550;
  }

  .listing-show-location{
    margin-top: 20px;
    color: rgb(113, 113, 113);
    margin-left: 10px;
  }
}

.photo-box{
  width: 1122;
  margin-top: 27px;
  display: flex;
}

.listing-show-img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 560px;
  height: 360px;
}

.listing-second-row {
  width: 260px;
  display: flex;
  flex-direction: column;
  margin-left: 8px;

}

.second-box-items{
  height: 176px
}
.second-box-items-two{
  height: 176px;
  margin-top: 8px;
}
.listing-third-row {
  width: 260px;
  display: flex;
  flex-direction: column;
  margin-left: 8px;


}

.third-box-items{
  height: 176px;
    border-top-right-radius: 10px;
 
}
.third-box-items-two{
  height: 176px;
  margin-top: 8px;
  border-bottom-right-radius: 10px;
}

.show-intro {
  font-size: 20px;
  font-weight: 425;
  margin-top: 25px;
}

.listing-show-houseinfo{
  margin-top: 12px;
  font-size: 15px;
  font-weight: 320;
}
 
.mid-page-dash {
    border-top: 1px solid lightgray;
    width: 650px;
    margin-top: 32px
  }

.minihouse {
  display: inline-block;
  height: 24px;
  width: 24px;
  fill: currentColor;
  margin-top: 33px;
  float: left;
  align-items: center;
  margin-right: 20px;
}

.suitcase-text {
  margin-top: 34px;
  color: rgb(34, 34, 34);
  font-size: 16px;
  font-weight: 600;

}

.suitcase-subtext {
  color: rgb(113, 113, 113);
  font-size: 14px;
  margin-top: 13px;
  margin-left: 44px;
  font-weight: 325;
}

.star{
 display: inline-block;
  height: 24px;
  width: 24px;
  fill: currentColor;
  margin-top: 29px;
  float: left;
  align-items: center;
  margin-right: 20px;
}

.listing-description {
  display: block;
  width: 650px;
  margin-top: 36px;
  font-size: 17px;
  font-weight: 300;
}

.amentities-box{
  width: 650px;
  display: flex;
  align-items: left;
}

.amentities-left-box{
  width: 325px
}
.amentities-right-box{
  width: 325px
}
.amentities-head{
  margin-top: 50px;
  font-size: 22px;
  font-weight: 425;
}


.amentities-row-two{
  margin-top: 28px;
}

.reviews-box {
  width: 650px;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

.reviews-box-left {
  width: 300px;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
}
.reviews-box-right {
  margin-left: 55px;
  width: 325px;
  display: flex;
  flex-direction: column;
}

.review-item{
}

.delete-listing-button{
   width: 150px;
  background-color: red;
  color: white;
  border-radius: 10px;
  height: 30px;
  border: 1px solid red;
  cursor: pointer;
  margin-top: 40px;
  margin-left: 132px;


}

.delete-listing-button:hover{
background-color: rgb(231, 6, 6);
}

.reservations-box {
  border-radius: 12px;
  position: sticky;
  width: 370px;
  height: 275px;
  border: 1px solid lightgray;
  margin-left: 74px;
  margin-top: 50px;
}

.body-box {
  display: flex;
}
.top-level-box{
  display: flex;
}

.top-level-left-box{
  margin-top: 30px;
  margin-left: 25px;
  width: 185px;
}
.top-level-right-box{
  margin-top: 30px;
  width: 185px;
  background-color: white;
}

.main-reservation-box{
  border: 1px solid lightgray;
  width: 325px;
  height: 55px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  margin-left: 21.5px;
  margin-top: 25px;
  display: flex;
}

.main-box-upperleft{
  width: 162.5px;
  height: 55px;
  border-right: 1px solid lightgray;
}
.main-box-upperright{
  width: 162.5px;
    height: 55px;
}

.upper-level-text{
  margin-left: 12px;
  margin-top: 12px;
  font-size: 11px;
  color: rgb(34, 34, 34);
  font-weight: 700;
}
.lower-level-text{
  margin-left: 12px;
  margin-top: 8px;
  font-size: 14px;
  color: rgb(113, 113, 113);
}
.main-box-lower{
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  width: 325px;
  height: 55px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-left: 21.5px;
  display: flex;
}

.main-box-lowerleft{
  width: 162.5px;
  height: 55px;
}

.main-box-lowerright{
  width: 162.5px;
    height: 55px;
  
}
.fa-chevron-down{
  margin-left: 120px;
  margin-top: 22px;
  font-size: 20px;
}

.last-reservation-box{
  width: 328px;
  height: 48px;
  margin-top: 15px;
  margin-left: 21px;
}

.reservation-submit{
  width: 100%;
  height: 100%;
  background-color: rgb(229,29,84);
  color: white;
  border-radius: 6px;
  border: 1px solid white;
  font-size: 16px;
}







