.form-container{
  display: flex;
justify-content: space-between;
  align-items: center;
   font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
   height: 90vh;
}
.login-form-left{
 display: flex;
 align-items: center;
 align-content: center;
  height: 100vh;
  width: 50%;
  background: rgb(71,32,160);
  margin-left: 0;
background: linear-gradient(0deg, rgba(71,32,160,1) 0%, rgba(203,34,119,1) 76%);
// position: absolute;
align-items: center;
justify-content: center;
}

.listing-type input{
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid lightgray;
  justify-content: center;  
  align-items: center;
  cursor: pointer;
  min-height: 68px;
  box-sizing: border-box;
  width: 464px;
  font-size: 18px;
  background: white;
  // margin-left: 50%;
  margin-top: 30px;
  // margin-right: 50%;

}

.login-form-right{
  width: 50%;
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
}

.form-label{
  color: white;
  font-size: 48px;
  line-height: 56px;
  font-weight: 600;

}



 .form-input-house:hover{
    border: 2px solid black
  }
 .form-input-cottage:hover{
    border: 2px solid black
  }
 .form-input-apartment:hover{
    border: 2px solid black
  }
 .form-input-hotel:hover{
    border: 2px solid black
  }

  .next-button{
    border-radius: 8px;
    align-content: right;
    align-items: right;
    justify-content: center;
    cursor: pointer;
    margin-top: 25px;
    background-color: #222222;
    color: white;
    border-color: black;
    height: 48px;
    width: 84px;
    font-size: 16px;
  }

  .next-position{
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid lightgray;
    margin-top: 50px;
    width: 100%;
  }

   #color-change {
    background-color: rgb(247, 247, 247);
    border: 2px solid black
  }
