.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(50, 50, 50, 0.3);
  z-index: 10;
}

.modal-child {
  height: 360px;
  width: 275px;
  background-color: white;
  color: black;
  font-weight: 500;
  padding: 50px;
  position: fixed;
  top: 375px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.session-form {
  height: inherit;
  margin-top: -10px;
  overflow: scroll;


}

.modal-content{
        display:flex;
        flex-direction: column;
        width: inherit;
        margin-top: 20px;
        font-size: 12px;
        
    }

.modal-content .modal-inputs {
  border: 1px solid lightgray;
  border-radius: 999px;
  padding: 5px;
  height: 20px;
}

.modal-title {
  font-size: 26px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.modal-errors {
  font-size: 16px;
  color: red;
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-top: 3px;

}

.modal-submit {
  background-color: red;
  color: white;
  border: 1px solid red;
  border-radius: 999px;
  padding: 5px;
  cursor: pointer;
  height: 40px;
}

.modal-submit:hover {
  background-color: rgb(230, 22, 22);
}

.modal-footer {
  display: flex;
  justify-content: center;
  font-size: 16;
  margin-top: 9px;
  align-items: center;
  
}

.button {
  border: 1px solid white;
  border-radius: 999px;
  // padding: 2px;
  background-color: transparent;
  margin-top: 1px;
  cursor: pointer;
  background: rgba(50, 50, 50, 0.1);
}

.button:hover {
  background-color: lightgray;
}

.demo-user {
  display: flex;
  justify-content: center;
  border: 1px solid red;
  border-radius: 999px;
  padding: 5px;
  cursor: pointer;
  background-color: red;
  color: white;
  align-items: center;
  height: 40px
}

.demo-user:hover {
  background-color: rgb(230, 22, 22);
}
