.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
}
.header-icon {
  object-fit: contain;
  height: 75px;
  margin-left: 85px
}

.search-bar {
 
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 25px;
  flex: 1;
  border: 1px solid lightgray;
  border-radius: 999px;
  max-width: 250px;
  position: relative
}

.search-bar > input {
  border: none;
  padding: 10px;
  outline-width: 0;
  width: 200px;
}


.globe-icon {
  display: inline-flex;
  height: 16px;
  width: 16px;
  justify-content: space-between;
  fill: currentColor;
}

.search-icon {
  fill: none;
  height: 12px;
  width: 12px;
  stroke: currentColor;
  stroke-width: 5.333;
  overflow: visible;
  color: white;
  position: relative;
}

.search-button {
  cursor: pointer;
  border: 0;
  background: transparent;
  border-radius: 50%;
  background: red;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .header_right {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   width: 15vw;
//   margin-right: 80px;
// }

.dropdown {
  // display: flex;
  position: relative;
  // align-items: center;
  // flex-direction: column;

}
.header-right {
  display: flex;
  align-items: center;
}
.fa-user-circle{
     display: none;
     display: flex;
     justify-content: space-between;
     min-width: 100px;
     padding: 12px 16px;
     // z-index: 1;
     // margin-right: 150px;
     display: flex;
    //  margin-top: 12px;
     flex-direction: column;
     margin-right: 5px;
     position: relative;
     cursor: pointer;
     font-size: 25px;

    }
.dropdown-menu {
     background-color: #f9f9f9;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
     padding: 12px 16px;
     z-index: 2;
     border-radius: 12px;
     flex-direction: column;
     width: 100px;
     height: 75px;
     display: none;
     position: absolute;
    
}  
.dropdown-content {
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
    align-content: left;
    border: none;
    width: 100%;
    top: 5px;
    cursor: pointer;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

