.review-index-box{
  width: 325px;
  display: flex;
  flex-direction: column;
  
}

.review-index-name{
  font-size: 18px;
  font-weight: 500;
  
}

.review-index-title{
  margin-top: 12px;
  font-size: 16;
}

.review-index-rating{
  margin-top: 12px;
  font-size: 15px;
}

.review-index-description{
  margin-top: 14px;
  font-size: 14px;
  
}

