.true-background{
  background-color: black;
  display: flex;
  justify-content: center;
}
.background-home{
  background: url('https://picturelistings.s3.us-west-1.amazonaws.com/nature-gcdd909c34_1920.jpg') no-repeat;
  height: 100vh;
  width: 76%;
  display: flex;
  margin-left: 20px;
  flex-direction: column;
justify-content: center;}

.splash-button{
  border-radius: 30px;

  background-color: white;
  height: 50px;
  width: 160px;
  text-decoration: none;
  cursor: pointer;
  border: solid 1px white
}

.splash-box{
  // background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-box{
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.splash-text {
  font-size: 48px;
  color: white;
  margin-bottom: 20px;
}

.button-text{
  color: purple;
  font-weight: 530;
  font-size: 18px;
}

.button-box {
  width: 160px;
  right: 20%;
}